---
    import Input from '@components/Input.astro';
    import Button from '@components/Button.astro';
    // import { createClient } from '@supabase/supabase-js'
    // // Create a single supabase client for interacting with your database
    // const supabase = createClient(import.meta.env.supabaseUrl, import.meta.env.supabaseKey)
    // console.log('supabase: ', supabase);

    const isSuperBaseConnected = false

    // const { data, error } = await supabase
    //     .from('users').select('email_address')

    // console.log('hello', data);



    const { title } = Astro.props
    // const response = await fetch('https://randomuser.me/api/');
    // const data = await response.json();
    // const randomUser = data.results[0];

    const submitBtnDisabled = false


    // Login logic
    // const loginBtn = document.getElementById('loginBtn')
    // loginBtn?.addEventListener('click', () => {
    //     console.log('clicked');
    // })

    if (Astro.request.method === "POST") {
        try {
            const data = await Astro.request.formData();
            console.log('data: ', data);

            // const name = data.get("username");
            // const email = data.get("email");
            // const password = data.get("password");
            // Do something with the data
        } catch (error) {
            if (error instanceof Error) {
                console.error(error.message);
            }
        }
    }
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevDive | {title}</title>
</head>

<body class="h-screen grid sm:place-content-center mt-28 sm:mt-0">
    <div class="mx-auto max-w-lg px-4">
        <div>
            <div class="text-center">
                <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 48 48"
                    aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M34 40h10v-4a6 6 0 00-10.712-3.714M34 40H14m20 0v-4a9.971 9.971 0 00-.712-3.714M14 40H4v-4a6 6 0 0110.713-3.714M14 40v-4c0-1.313.253-2.566.713-3.714m0 0A10.003 10.003 0 0124 26c4.21 0 7.813 2.602 9.288 6.286M30 14a6 6 0 11-12 0 6 6 0 0112 0zm12 6a4 4 0 11-8 0 4 4 0 018 0zm-28 0a4 4 0 11-8 0 4 4 0 018 0z" />
                </svg>
                <h2 class="mt-2 text-base font-semibold text-gray-900 capitalize">DevDive team registration</h2>
                <p class="mt-1 text-sm text-gray-500">Welcome. Please fill your details below with accurate information.
                    <br>
                    Make sure you are on the team sheet before filling the information below.
                </p>
            </div>
            <form action="POST" class="mt-6 space-y-4">
                <div
                    class="relative -space-y-px rounded-md group hover:shadow-lg transition ease-in-out delay-50 duration-300">
                    <div class="pointer-events-none absolute inset-0 z-10 rounded-md ring-1 ring-inset ring-gray-300">
                    </div>
                    <Fragment>
                        <Input type="email" placeHolder="Email address" rightSidePadding="24" leftSidePadding="24"
                            required=true>
                        <div slot="right-side"
                            class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
                            <span class="text-gray-500 sm:text-sm text-orange-500">checking...</span>
                        </div>
                        </Input>
                    </Fragment>
                    <Fragment>
                        <Input placeHolder="First name" />
                    </Fragment>
                    <Fragment>
                        <Input placeHolder="Last name" />
                    </Fragment>
                </div>
                <Button isDisabled=true class="bg-indigo-600 text-white hover:bg-indigo-500">
                    <Fragment slot="text">
                        Get access
                    </Fragment>
                </Button>
            </form>

            <!-- Social login -->
            <div>
                <div class="relative mt-6">
                    <div class="absolute inset-0 flex items-center" aria-hidden="true">
                        <div class="w-full border-t border-gray-200"></div>
                    </div>
                    <div class="relative flex justify-center text-sm/6 font-medium">
                        <span class="bg-white px-6 text-gray-900">Or continue with</span>
                    </div>
                </div>

                <div class="mt-6 grid grid-cols-2 gap-4">
                    <Button>
                        <svg slot="icon-left" class="h-5 w-5" viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M12.0003 4.75C13.7703 4.75 15.3553 5.36002 16.6053 6.54998L20.0303 3.125C17.9502 1.19 15.2353 0 12.0003 0C7.31028 0 3.25527 2.69 1.28027 6.60998L5.27028 9.70498C6.21525 6.86002 8.87028 4.75 12.0003 4.75Z"
                                fill="#EA4335" />
                            <path
                                d="M23.49 12.275C23.49 11.49 23.415 10.73 23.3 10H12V14.51H18.47C18.18 15.99 17.34 17.25 16.08 18.1L19.945 21.1C22.2 19.01 23.49 15.92 23.49 12.275Z"
                                fill="#4285F4" />
                            <path
                                d="M5.26498 14.2949C5.02498 13.5699 4.88501 12.7999 4.88501 11.9999C4.88501 11.1999 5.01998 10.4299 5.26498 9.7049L1.275 6.60986C0.46 8.22986 0 10.0599 0 11.9999C0 13.9399 0.46 15.7699 1.28 17.3899L5.26498 14.2949Z"
                                fill="#FBBC05" />
                            <path
                                d="M12.0004 24.0001C15.2404 24.0001 17.9654 22.935 19.9454 21.095L16.0804 18.095C15.0054 18.82 13.6204 19.245 12.0004 19.245C8.8704 19.245 6.21537 17.135 5.2654 14.29L1.27539 17.385C3.25539 21.31 7.3104 24.0001 12.0004 24.0001Z"
                                fill="#34A853" />
                        </svg>
                        <Fragment slot="text">
                            Google
                        </Fragment>
                    </Button>

                    <Button>
                        <svg slot="icon-left" class="h-5 w-5 fill-[#24292F]" fill="currentColor" viewBox="0 0 20 20"
                            aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M10 0C4.477 0 0 4.484 0 10.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0110 4.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.203 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.942.359.31.678.921.678 1.856 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0020 10.017C20 4.484 15.522 0 10 0z"
                                clip-rule="evenodd" />
                        </svg>
                        <Fragment slot="text">
                            Github
                        </Fragment>
                    </Button>
                </div>
            </div>
        </div>
    </div>

    <!-- SSR script -->
    <script>
        async function submitForm() {
            console.log('submitting...');

            if (Astro.request.method === "POST") {
                try {
                    const data = await Astro.request.formData();
                    console.log('data: ', data);

                    // const name = data.get("username");
                    // const email = data.get("email");
                    // const password = data.get("password");
                    // Do something with the data
                } catch (error) {
                    if (error instanceof Error) {
                        console.error(error.message);
                    }
                }
            }
        }
    </script>
</body>

<style>

</style>

</html>